table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  table-layout: fixed; /* 列幅を固定 */
}
td, th {
  border: 3px solid #aaa;
  padding: 5px;
  text-align: center;
  word-wrap: break-word; /* 長い文字は折り返す */
  font-size: 20px; /* ここがテーブル内のテキストサイズの基本 */
}
/* 時間割の横幅調整 1列目:時限、残り5列を均等 */
col.time-col {
  width: 80px;
}
col.day-col {
  width: 20%;
}
/* 時間割セル全部のclass */
.cellText{
  font-size: 150%;
}

#absence button {
  font-size: 20px;      /* 文字を大きく */
  width: 40px;          /* 横幅 */
  height: 40px;         /* 高さ */
  border-radius: 10px;  /* 丸み */
  border: none;
  background-color: #3cb371;
  color: black;
}

#absence button:hover {
  background-color: #45a049;
}

#absence .count {
  font-size: 120%;
  font-weight: bold;
  margin: 0 20px;
  display: inline-block;
  min-width: 30px; /* 数字の幅が変わってもズレにくい */
  text-align: center;
}